@using Humanizer
@model ProfileModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Profile Details</strong>
                <a class="btn btn-default" asp-action="Index">Back to List</a>
            </div>
            <div class="card-body">
                <div>
                    <h4>ProfileModel</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.UserId)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UserId)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Availability)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Availability)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PreferredLocation)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PreferredLocation)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Suspended)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Suspended)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Current Rankings in Your Ladder</strong>
            </div>
            <div class="card-body">
                <div class="table-stats order-table ov-h">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (ViewBag.Rankings != null)
                        {
                             foreach (Ranking ranking in ViewBag.Rankings)
                             {
                                 <tr>
                                     <td>@Html.DisplayFor(modelItem => ranking.User.Name)</td>
                                     <td>@Html.DisplayFor(modelItem => ranking.Position)</td>
                                 </tr>
                             }
                        }
                        else
                        {
                            <tr><td>No Rankings to Display</td></tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Current Outstanding Challenges</strong>
            </div>
            <div class="card-body">
                <div class="table-stats order-table ov-h">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>Starts</th>
                            <th>Acceped</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (ViewBag.OuststandingChallenges != null)
                        {
                            foreach (Challenge challenge in ViewBag.OuststandingChallenges)
                            {
                                <tr>
                                    <td><small>@(challenge.Challenger.Name) challenged @(challenge.Challengee.Name)</small></td>                                   
                                    <td><small>@(challenge.ChallengedTime.Humanize())</small></td>
                                    <td><small>@Html.DisplayFor(modelItem => challenge.Accepted)</small></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td>No Challenges to Display</td></tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Last 5 Matches</strong>
            </div>
            <div class="card-body">
                <div class="table-stats order-table ov-h">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Result</th>
                            <th>ChallengeTime</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (ViewBag.LastFiveMatch != null)
                        {
                            foreach (Challenge challenge in ViewBag.LastFiveMatch)
                            {
                                <tr>
                                    @if (challenge.Result == Winner.Challengee && challenge.Challengee == Model ||
                                         challenge.Result == Winner.Challenger && challenge.Challenger == Model)
                                    {
                                        <td>You Won</td>
                                    }
                                    else if (challenge.Result == Winner.Draw)
                                    {
                                        <td>You Drew</td>
                                    } 
                                    else
                                    {
                                        <td>You Lost</td>
                                    }
                                
                                    <td>@Html.DisplayFor(modelItem => challenge.ChallengedTime)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td>No Challenges to Display</td></tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
