@model ladders.Models.Challenge

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Challenged Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChallengedTime)
        </dd>
        <dt>
            Challenge Issued
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt>
            Venue
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.facility.venue.venueName)
        </dd>
        <dt>
            Sport
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.facility.sport.sportName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resolved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resolved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
