@model ladders.Models.LadderModel

@{
    ViewData["Title"] = "Details";
}

<h2>@(Model.Name) Ladder</h2>

<div>
    <h5>@(Model?.CurrentRankings?.Count ?? 0) members</h5>
    <hr/>
    <div>
        @if (ViewBag.IsAdmin)
        {
            <span><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |</span>
        }
        <a asp-action="Index">Back to List</a>
    </div>

    <hr/>

    <table class="table">
        <thead>
        <tr>
            <th>Ladder</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Losses</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.CurrentRankings != null)
        {
            foreach (var item in Model?.CurrentRankings.OrderByDescending(a => a.Losses).ThenBy(a => a.Draws).ThenBy(a => a.Wins))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wins)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Draws)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Losses)
                </td>
                <td>
                    @if (item.User != ViewBag.Me && ViewBag.Me?.CurrentLadderId == Model.Id)
                    {
                        <a href="@Url.Action("Create","Challenges", new { userId = item.User.Id, ladderId = Model.Id})">Challenge</a>
                    }
                </td>
            </tr>
            }
        }
        </tbody>
    </table>

</div>
